body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
h4{
  color: lightsteelblue;
}
h3{
  color: blue;
}

h1 {
    color: #333;
}

#currentDate {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#subjects {
    margin: 20px auto;
    width: 350px;
    text-align: left;
}

.subject-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

input {
    width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    background: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkcyan;
}

.plus-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.plus-btn:hover {
    background: #0056b3;
}

#result {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
}

canvas {
    margin-top: 20px;
    max-width: 90%;
}